@import url('https://fonts.googleapis.com/css?family=Acme');
.nav-item {

  margin:  2px 30px;
  text-align: center;
}
.text{
  font-family: 'Acme', sans-serif;
}

.nav-item:hover{
  transform: scale(2);
}
.top-header{
  background-color: rgb(6, 7, 20) ;
}
.carouselHotnews, .News-area{
  margin-top: 40px;
}
.single-sidebar-widget{
  background-color: rgb(223, 235, 234)
}
.footer-area{
  background-color: #707070;
}
a:link {
  color: black;
}
.button-vd{
  text-align: center;
  padding-top: 70px;
  padding-bottom: 100px;
}
.card-style{
  padding-top: 70px;
}
.tytle-vd{
  color: black;
}
@import url('https://fonts.googleapis.com/css?family=Acme');
