<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Mortal</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static' , filename = 'style.css' ) }}">
</head>

<body>
  <header class="header">
    <!-- logo and banner -->
    <div class="container">
      <div class="top-header">
        <div class="row">
          <div class="col-2"> <a href="{{ url_for('index') }}"> <img src="{{ url_for('static' , filename = 'logo.jpg' ) }}" class="rounded float-left" height="115px" alt="Logo"> </a> </div>
          <div class="col-6"> <img src="{{ url_for('static' , filename = 'add.png' ) }}" width="auto" height="90px" alt=""> </div>
        </div>
      </div>
    </div>
    <!-- Navbar -->
    <div class="container">
      <div class="Navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active"><a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('news') }}">News</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('videos') }}">Videos</a></li>
              <li class="nav-item"><a class="nav-login" href="{{ url_for('login') }}">Log in</a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
      </div>
    </div>
    </nav>
  </header>
  <main class="main">
    <!--Video content-->
    <div class="container card-style">
      <div class="card-deck">
        <div class="card">
          <iframe class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/6oniNmlSCkU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
          <a href="https://www.youtube.com/watch?v=6oniNmlSCkU" target="_blank"> <h5 class="tytle-vd">Những pha xử lý của Faker tại LCK 2019</h5></a>
          </div>
          <div class="card-footer">
          <button type="button" class="btn btn-primary">Like</button>
          </div>
        </div>
        <div class="card">
          <iframe class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/Up5joDfFfTw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <a href="https://www.youtube.com/watch?v=Up5joDfFfTw" target="_blank"> <h5 class="tytle-vd">Jarvan Thách Đấu EU hốt 20 mạng</h5></a>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary">Like</button>
          </div>
        </div>
        <div class="card">
          <iframe class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/oHEu_3wluyY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <a href="https://www.youtube.com/watch?v=oHEu_3wluyY" target="_blank"><h5 class="tytle-vd">Những màn tương tác chiêu cuối vui mắt</h5></a>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary">Like</button>
          </div>
        </div>
      </div>
      <div class="card-deck card-style">
        <div class="card">
          <iframe class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/ts-ppA6BZso" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <a href="https://www.youtube.com/watch?v=ts-ppA6BZso" target="_blank"><h5 class="tytle-vd">Những pha xử lý của Adrian Riven</h5></a>
          </div>
          <div class="card-footer">
          <button type="button" class="btn btn-primary">Like</button>
          </div>
        </div>
        <div class="card">
          <iframe class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/5gRKxgWH8uo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
          <a href="https://www.youtube.com/watch?v=5gRKxgWH8uo" target="_blank"><h5 class="tytle-vd" >Amumu theo bạn đi muôn nơi</h5></a>
        </div>
            <div class="card-footer">
            <button type="button" class="btn btn-primary">Like</button>
          </div>
        </div>
        <div class="card">
          <iframe class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/VW8eOsSg5rk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <a href="https://www.youtube.com/watch?v=VW8eOsSg5rk" target="_blank"><h5 class="tytle-vd">Trick2G – Udyr cùng Đao Tím mới liệu có khỏe?</h5></a>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary">Like</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- Footer -->
  <!-- Button page-->
  <div class="container button-vd">
    <a href="video1.html"><button type="button" class="btn btn-outline-dark">Previous Page</button>
  </div>
  <footer class="footer-area">
    <!-- Footer Links -->
    <div class="container">
      <div class="row text-center d-flex justify-content-center pt-5 mb-3">
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!">About us</a>
          </h6>
        </div>
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!">News</a>
          </h6>
        </div>
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!">Audios</a>
          </h6>
        </div>
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!">Videos</a>
          </h6>
        </div>
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!">Contact</a>
          </h6>
        </div>
      </div>
      <hr class="rgba-white-light" style="margin: 0 15%;">
      <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
        <div class="col-md-8 col-12 mt-5">
          <p style="line-height: 1.7rem">The closer you look, the less you see.</p>
        </div>
      </div>
      <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
      <div class="row pb-3">
        <div class="col-md-12 d-flex justify-content-center">
          <div class="mb-5">
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g fa-lg white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
              <i class="fab fa-pinterest fa-lg white-text"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
