<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Mortal</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="{{ url_for('static' , filename = 'style.css' ) }}">
</head>

<body class="bground" style="background-color:black">
  <header class="header ">
    <!-- logo and banner -->
    <div class="container">
      <div class="top-header">
        <div class="row">
          <div class="col-2"> <a href="{{ url_for('index') }}"> <img src="{{ url_for('static' , filename = 'logo.jpg' ) }}" class="rounded float-left" height="115px" alt="Logo"> </a> </div>
          <div class="col-6"> <img src="{{ url_for('static' , filename = 'add.png' ) }}" width="auto" height="90px" alt=""> </div>
        </div>
      </div>
    </div>
    <!-- Navbar -->
    <div class="container">
      <div class="Navbar text" style="background-color: #081110">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active"><a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('news') }}">News</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('videos') }}">Videos</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Log in</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log out</a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2 shadow p-3  bg-white rounded" type="search" placeholder="Search">
              <button class="btn btn-outline-success my-2 my-sm-0 shadow p-2  " type="submit">Search</button>
            </form>
          </div>
      </div>
    </div>
    </nav>
  </header>
  <main class="main">
    <!--Video content-->
    <div class="container card-style">
      <div class="card-deck">
        <div class="card">
          <iframe class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/rMHX-v4MXrk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
          <a href="https://www.youtube.com/watch?v=rMHX-v4MXrk" target="_blank"> <h5 class="tytle-vd">TOP 20 pha Highlight Xử Lí Kinh Điển đáng xem nhất LMHT</h5></a>
          </div>
          <div class="card-footer">
          <button type="button" class="btn btn-primary">Like</button>
          </div>
        </div>
        <div class="card">
          <iframe class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/fliP9i3VAwM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <a href="https://www.youtube.com/watch?v=fliP9i3VAwM" target="_blank"> <h5 class="tytle-vd">Những pha xử lí Kinh Hoàng trong LMHT </h5></a>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary">Like</button>
          </div>
        </div>
        <div class="card">
          <iframe class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/6ILyphw6tRA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <a href="https://www.youtube.com/watch?v=6ILyphw6tRA" target="_blank"><h5 class="tytle-vd">Những Pha Xử Lí IQ vÔ Cực Trong Liên Minh Huyền Thoại</h5></a>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary">Like</button>
          </div>
        </div>
      </div>
      <div class="card-deck card-style">
        <div class="card">
          <iframe class="card-img-top"  width="560" height="315" src="https://www.youtube.com/embed/f_AC7IMG3TU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <a href="https://www.youtube.com/watch?v=f_AC7IMG3TU" target="_blank"><h5 class="tytle-vd">Những pha xử lý cực hay của YASUO | Yasuo Highlight - Liên Minh Huyền Thoại</h5></a>
          </div>
          <div class="card-footer">
          <button type="button" class="btn btn-primary">Like</button>
          </div>
        </div>
        <div class="card">
          <iframe class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/vCXWstIK-hY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <a href="https://www.youtube.com/watch?v=vCXWstIK-hY" target="_blank"><h5 class="tytle-vd">Gosu cầm Kai’Sa nuột như mọi khi</h5></a>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary">Like</button>
          </div>
        </div>
        <div class="card">
          <iframe class="card-img-top"<iframe width="560" height="315" src="https://www.youtube.com/embed/xE31Cx-UwuE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <a href="https://www.youtube.com/watch?v=xE31Cx-UwuE#action=share" target="_blank"><h5 class="tytle-vd">Combo Lee Sin phong cách Thầy Ba</h5></a>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary">Like</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
  <footer >
  <!-- Footer -->
  <!-- Button page-->
  <div class="container button-vd">
    <a href="{{ url_for('video1') }}"><button type="button" class="btn btn-light">Next Page</button>
  </div>
  <footer class="footer-area">
    <!-- Footer Links -->
    <div class="container">
      <div class="row text-center d-flex justify-content-center pt-5 mb-3">
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!">About us</a>
          </h6>
        </div>
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!">Contact</a>
          </h6>
        </div>
      </div>
      <hr class="rgba-white-light" style="margin: 0 15%;">
      <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
        <div class="col-md-8 col-12 mt-5">
          <p style="line-height: 1.7rem">The closer you look, the less you see.</p>
        </div>
      </div>
      <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
      <div class="row pb-3">
        <div class="col-md-12 d-flex justify-content-center">
          <div class="mb-5">
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g fa-lg white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
              <i class="fab fa-pinterest fa-lg white-text"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
